@import '../css/root.css';
a {
  text-decoration: none;
  /* color: inherit; */
}
*,
* ::before,
* ::after {
  box-sizing: border-box;
  margin: 0;
}
body {
  background-image: url(../img/login/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  z-index: 0;
  font-weight: normal;
  display: block;
}
html {
  min-width: 375px;
}
body::after {
  position: absolute;
  inset: 0;
  z-index: -1;
  content: '';
  background-color: #000;
  opacity: 0.3;
}
section {
  display: block;
  /* padding-top: 80px; */
  height: 100vh;
}

.sign-in,
.sign-up {
  display: none;
}
.sign-in:checked + .tab,
.sign-up:checked + .tab {
  color: #fff;
  border-color: var(--main-color);
}

img {
  vertical-align: middle;
  border-style: none;
  page-break-inside: avoid;
}
.login-logo {
  height: 50px;
}

.attrColor {
  color: var(--light-gray);
}
.attrColor:hover {
  color: var(--sub-color);
}
.icon_sns {
  width: 32px;
  height: 32px;
  margin: 10px;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.col-lg-4,
.col-md-6 {
  position: relative;
  display: flex;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.justify-content-center:nth-of-type(1) {
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
  height: 100px;
}
.justify-content-center:nth-of-type(2) {
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
  height: 500px;
}

.col-lg-4 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.33333%;
  flex: 0 0 33.33333%;
  max-width: 520px;
  min-width: 375px;
}
/*  */
@media (min-width: 576px) {
  .form-group {
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row wrap;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 0;
  }
}
@media (min-width: 768px) {
  .d-md-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .text-md-right {
    text-align: right !important;
  }
  .mr-md-1 {
    margin-right: 0.25rem !important;
  }
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.text-center {
  text-align: center !important;
}
.mb-5 {
  margin-bottom: 3rem !important;
}
.heading-section {
  font-size: 28px;
  color: #fff;
}
.login-wrap {
  width: 100%;
  top: -200px;
  position: relative;
  text-align: center;
}
label {
  cursor: pointer;
}
.login-wrap .social {
  width: 100%;
}
.p-0 {
  padding: 0 !important;
}
.mb-4 {
  margin-bottom: 1.5rem !important;
}
.form-group {
  margin-bottom: 1rem;
  position: relative;
}
.form-control {
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  -webkit-transition: border-color 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  -o-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .form-control {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }
  .checkmark:after {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }
  .btn {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }
}
.form-control::-ms-expand {
  background-color: transparent;
  border: 0;
}
.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.form-control::-webkit-input-placeholder {
  color: #6c757d;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #6c757d;
  opacity: 1;
}
.form-control::-ms-input-placeholder {
  color: #6c757d;
  opacity: 1;
}
.form-control::placeholder {
  color: #6c757d;
  opacity: 1;
}
.form-control:disabled,
.form-control[readonly] {
  background-color: #e9ecef;
  opacity: 1;
}
select.form-control:focus::-ms-value {
  color: #495057;
  background-color: #fff;
}
.form-control {
  background: transparent;
  border: none;
  height: 50px;
  color: white !important;
  border: 1px solid transparent;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 40px;
  padding-left: 20px;
  padding-right: 20px;
  transition: 0.3s;
}
.form-control::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgba(255, 255, 255, 0.8) !important;
}
.form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(255, 255, 255, 0.8) !important;
}
.form-control:-ms-input-placeholder {
  /* IE 10+ */
  color: rgba(255, 255, 255, 0.8) !important;
}
.form-control:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(255, 255, 255, 0.8) !important;
}
.form-control:hover,
.form-control:focus {
  background: transparent;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: rgba(255, 255, 255, 0.4);
}
.form-control:focus {
  border-color: rgba(255, 255, 255, 0.4);
}
.field-icon {
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: rgba(255, 255, 255, 0.9);
}
.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  -webkit-transition: color 0.15s ease-in-out,
    background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  -o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
}
.btn:hover {
  color: #212529;
  text-decoration: none;
}
.btn:focus,
.btn.focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.btn.disabled,
.btn:disabled {
  opacity: 0.65;
}
a.btn.disabled,
fieldset:disabled a.btn {
  pointer-events: none;
}
.btn {
  cursor: pointer;
  border-radius: 40px;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  font-size: 15px;
  text-transform: uppercase;
}
.btn:hover,
.btn:active,
.btn:focus {
  outline: none;
}
.btn.btn-primary {
  background: #85ff7b !important;
  border: 1px solid #85ff7b !important;
  color: #000 !important;
}
.btn.btn-primary:hover {
  border: 1px solid #85ff7b;
  background: transparent;
  color: #85ff7b;
}
.btn.btn-primary.btn-outline-primary {
  border: 1px solid #85ff7b;
  background: transparent;
  color: #85ff7b;
}
.btn.btn-primary.btn-outline-primary:hover {
  border: 1px solid transparent;
  background: #85ff7b;
  color: #fff;
}
.px-3 {
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}
.w-50 {
  width: 50% !important;
}
.checkbox-wrap {
  display: block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* Hide the browser's default checkbox */
.checkbox-wrap input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
/* Show the checkmark when checked */
.checkbox-wrap input:checked ~ .checkmark:after {
  display: block;
  content: '\f14a';
  font-family: 'FontAwesome';
}
/* Style the checkmark/indicator */
.checkbox-primary {
  color: #85ff7b;
}
.checkbox-primary input:checked ~ .checkmark:after {
  color: #85ff7b;
}
/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: '\f0c8';
  font-family: 'FontAwesome';
  position: absolute;
  color: rgba(255, 255, 255, 0.1);
  font-size: 20px;
  margin-top: -4px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.w-100 {
  width: 100% !important;
  color: var(--sub-color);
}
.d-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}
.px-2 {
  padding-right: 0.5rem !important;
  padding-left: 0.5rem !important;
}
.py-2 {
  padding-bottom: 0.5rem !important;
  padding-top: 0.5rem !important;
}
.rounded {
  border-radius: 0.25rem !important;
}
.mr-2 {
  margin-right: 0.5rem !important;
}
@media print {
  .container {
    min-width: 992px !important;
  }
}
/* 여기부터는 회원가입 폼 */
.tb1div,
.tb2div {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  transition: all 0.4s linear;
  min-height: 345px;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
}
form.tb1div {
  transform: rotateY(0);
}
.sign-in,
.sign-up {
  display: none;
}
.tab,
.btn {
  text-transform: uppercase;
}
.tab {
  font-size: 22px;
  margin-right: 15px;
  padding-bottom: 5px;
  margin: 0 15px 10px 0;
  display: inline-block;
  border-bottom: 2px solid transparent;
  color: var(--light-gray);
}
input,
.btn {
  width: 100%;
  display: block;
}
.login-form .group label .icon {
  width: 15px;
  height: 15px;
  border-radius: 2px;
  position: relative;
  display: inline-block;
  background: rgba(255, 255, 255, 0.1);
}
.sign-in:checked + .tab + .sign-up + .tab + .signin-form {
  border: 1px solid #000;
  transform: rotate(0);
  z-index: 99;
}
.sign-up:checked + .tab + .signup-form {
  transform: rotate(0);
  z-index: 99;

  background: pink;
}

.signin-form {
  position: relative;
}
.signup-form {
  position: absolute;
}

.tb1div,
.tb2div {
  position: absolute;
  top: 45px;
}

div.login-wrap form.tb2div {
  visibility: hidden;
}

/* 이메일 토글 */
.block {
  display: block;
}
ul,
li {
  text-decoration: none;
  list-style: none;
}
.email-form {
  display: flex;
  align-items: center;
}
.at-sign {
  margin: 0 5px;
}
.accordion {
  position: relative;
  margin-left: 5px;
}
.domain-list {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 5px;
  list-style: none;
}
.domain-list li {
  cursor: pointer;
}

/* 
  css 하나씩 주석 처리 해가면서 사용 안하는 css 지우기

  다른 이벤트 거는 방법으로 수정
  클래스 추가하도록 수정
*/

footer {
  display: none !important;
}
