/* .art-style{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
    border: 3px solid black;
}

.artworks{
    background-color: aliceblue;
    flex-wrap: wrap;
} */


/* ArtistIntroduction.css */

.artist-introduction {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .artist-info {
    display: flex;
    align-items: center;
    margin-bottom: 100px; /* profile_img와 artworks 사이 간격 설정 */
    position: relative;
  }

  .profile {
    margin-right: 20px;
  }
  
  .details {
    text-align: left;
    width: 50%; /* 부모 요소의 너비의 절반만 사용 */
  position: relative; /* 상대적 위치 설정 */
  }
  .details-right {
    text-align: right;
    position: absolute; /* 절대적 위치 설정 */
    top: 0; /* 부모 요소의 상단에 정렬 */
    right: 0; /* 부모 요소의 오른쪽에 정렬 */
    margin-top: -20px; /* 원하는 만큼 위로 올림 */

  }
  .details h1 {
    margin-bottom: 20px;
  }
  
  .details p {
    margin: 5px 0;
  }
  
  .artworks {
    text-align: center;
    display: table-column;
    justify-content: center;
    position: absolute;
    top: calc(100% + 20px);
    padding: 20px;
  }
  
  .artworks ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  .artworks li {
    margin-right: 20px;
  }
  .artworks img {
    width: 400px; 
    height: 450px;
  }
  