$main-color: #aa8453;

.auction-List {
  padding: 100px 20px;
  width: 100%;
  max-width: 1200px;
  margin: auto;
}
.auction-title {
  height: 100px;
  text-align: center;
  line-height: 30px;
}

.auction-title + div {
  margin-left: 2%;
}

.auction-open {
  color: $main-color;
}

.auction-price {
  color: #800020;
}

.auction-button {
  button {
    width: 100%;
    height: 100%;
    line-height: 30px;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
    background-color: $main-color;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    &:hover {
      color: #800020;
    }
  }
}
