

.artwork-container {
  display: flex;
  padding: 100px 20px;
  width: 100%;
  max-width: 1200px;
  margin: auto;

}

@media screen and (max-width: 1200px) {
  .artwork-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
}

.artwork-img-section {
width: 600px;
overflow: hidden;
position: relative;
margin-right: 50px;
}

.artwork-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-top: 50px;
}
@media screen and (max-width: 600px) {
  .artwork-img-section {
    width: 100%;
    margin-right: 0px;
    margin-top: 0px;
  }
  .artwork-image {
    margin-top: 0px;
  }
}
.artwork-title{
  font-size: 20px;
  margin-bottom: 50px;
  margin-left: 10px;

}
.artwork-details {
  /* border: 1px solid #ccc; */
  border-radius: 8px;
  padding: 20px;
}

.artist {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.description {
  font-size: 16px;
  color: #666;
  margin-bottom: 15px;
}

.price-section {
  align-items: center;
  margin-bottom: 10px;
}

.price-label, .bid-label {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-right: 10px;
}

.price-value, 
.bid-value {
  font-size: 18px;
  color: #009688; /* Green color for prices */
}

/* Artwork title styles */
.auction-page h2 {
  font-size: 28px;
  align-self: center;
}
.artwork-title {
  font-size: 28px;
  font-weight: bold;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  margin-bottom: 10px;
}
.buttons-container{
  display: flex;
}
/* Button styles */
.bid-button{
  width: 200px;
  height: 30px;
  line-height: 30px;
  margin: 0 auto;
  text-align: center;
  background-color: #aa8453;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  &:hover {
    color: #800020;
  }
}

.bid-button:hover,
.watchlist-button:hover {
  background-color: black;
  color: white;
}

/* timer section */
.timer-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer-frame {
  border: 2px solid red;
  padding: 10px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  color: red;
}
.bid-details{
  margin-top: 50px;
}

/* Curtain effect */
html,
body {
  height: 100%;
  /* background: #000000; */
}

/* Curtain effect */
html,
body {
  height: 100%;
  /* background: #000000; */

}

.outer {
  display: table;
  height: 100%;
  margin: 0 auto;
  width: 100%;
}

.tcell {
  display: table-cell;
  vertical-align: middle;
  padding: 8px 8px;
}

.curtain-wrapper {
  /* min-width: 40%;
  max-width: 640px;
  margin: auto;

  position: relative; */
  overflow: hidden;
}

/* .curtain-ratio-keeper {
  position: relative;
  padding-top: 56.25%;
  /* overflow: hidden; */


.curtain {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  /* border: 3px solid red; */
  box-sizing: border-box;
  border-radius: 25px;
  overflow: hidden;
  background: transparent;
  animation-delay: 3000ms;
  z-index: 999;

}

.panel-left,
.panel-right {
  position: absolute;
  height: 100%;
  width: 50%;
  top: 0%;
  transition: all 8s ease;

  /*transition-delay: 300ms;* fade is in place/
  /*background-image: url("https://picsum.photos/600");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;*/
  overflow: hidden;
}

.panel-left {
  left: 0;
  animation-delay: 3000ms;
  /*background-color: rgb(91, 96, 106);*/
}

.panel-right {
  right: 0;
  /*background-color: rgb(229, 211, 211);*/
}

.panel-left::before,
.panel-right::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 200%;
  top: 0;
  left: 0;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'> <filter id='filter'> <feTurbulence baseFrequency='0.01 0.0001' numOctaves='5'/> <feColorMatrix values='1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1'/></filter> <rect width='100%' height='100%' filter='url(%23filter)'/> </svg>");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 0;
  pointer-events: none;
  animation-delay: 3250ms;
}

.panel-right::before {
  left: -100%;
}

.curtain .panel-left {
  /* transform: translateX(-100%);*/
  /*transform: translateX(calc(-100% - 1px));*/
  animation: slideLeft 8s forwards;
  animation-delay: 300ms;
}

@keyframes slideLeft {
  to {
    transform: translateX(calc(-100% - 1px))
  }
}

/*.panel-left::before {
  background: rgba(0, 0, 0, 0.5);
}*/

.curtain .panel-right {
  /*transform: translateX(100%);*/
  /*transform: translateX(calc(100% + 1px));*/
  animation: slideRight 5s forwards;
  animation-delay: 300ms;

}

@keyframes slideRight {
  to {
    transform: translateX(calc(100% + 1px))
  }
}


.jacket {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /*width: 100%;
  height: 100%;*/
  margin: auto;
  cursor: pointer;
  /* background: red;*/
  cursor: pointer;

}

.hide {
  display: none;
}