.cart_list {
    display: flex;
    flex-direction: column;
    margin: 50px 0 0 50px;
  }
.cart_item {
    display: flex;
    align-items: center;
    margin: 20px 20px;
  }
  
.cartItem_img {
    width: 500px; 
    height: auto; 
    margin-right: 20px; 
  }
  
.cartItem_details {
    flex-grow: 1; 
  }
  
.cartItem_title {
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    margin: 0 0 232px 24px; 
    font-size: 25px;
  }
  
.cartItem_price {
    margin-top: 5px; 
  }
.cartItem_Info {
  display: flex;
  margin-left: 180px;
}

.cart_item colgroup {
  display: table-column-group;
  unicode-bidi: isolate;
}
.cart_item h2 {
  border-bottom: 1px solid black;
  height: 70px;
  display: flex;
  justify-content: center;
}

.cart_item col {
  display: table-column;
  unicode-bidi: isolate;
}

.cart_item tr {
  display: table-row;
  vertical-align: inherit;
  unicode-bidi: isolate;
  border-color: inherit;
}
.cart_item table {
  display: inline;
  position: absolute;
  top: 20%;
  left: 38%;
  width: 30%;
  margin-top: 170px;
}

.cart_item th {
  color: black;
  font-size: 24px;
}