footer {
  height: 150px;
  width: 100%;
  background-color: #fff;
}
a {
  text-decoration: none !important;
  color: black !important;
}
footer h2 {
  color: #aa8453;
}
/* 푸터 넓이 맞추는 컨테이너 */
.container-footer {
  display: flex;
  background: #fff;
  border-top: 2px solid black;
  font-size: 16px;
  margin: 0 auto;
  padding: 20px;
  justify-content: space-around;
  align-items: center;
  max-width: 1200px;
}
/* ----------------------------------------------------- */
/* 푸터로고 */
.footerlogo {
  cursor: pointer;
  width: 150px;
}
.footerlogo img {
  width: 100%;
}
/* ---------------------- */
/* row */
.row {
  color: black;
  width: 700px;
  margin: 0 20px;
}
.row h2 {
  font-size: 24px;
}
.social-icons {
  display: flex;
  margin-top: 10px;
  justify-content: space-around;
}
.use-links {
  display: flex;
  margin-top: 10px;
  justify-content: space-around;
}
/* adress */
.address {
  width: 200px;
}

.address-links {
  list-style: none;
  margin-top: 10px;
}
/* copy-right */
.copy-right-sec {
  padding: 1.8rem;
  background: #aa8453;
  color: #fff;
  text-align: center;
  width: 100%;
}
.copy-right-sec a {
  color: #fcd462;
  font-weight: 500;
}
@media screen and (max-width: 720px) {
  .footerlogo {
    display: none;
  }
  .container-footer {
    display: flex;
    flex-direction: column;
    background: #fff;
    border-top: 2px solid black;
    font-size: 16px;
    margin: 0 auto;
    padding: 20px;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 1200px;
  }
  .row {
    color: black;
    width: 100%;
    max-width: 720px;
    margin: 0 20px;
    padding-bottom: 20px;
  }
  .social-icons {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    justify-content: space-around;
    align-items: center;
  }
  .use-links {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    justify-content: space-around;
    align-items: center;
  }
  .row h2 {
    text-align: center;

    padding-bottom: 20px;
  }

  .address h2 {
    text-align: center;
  }
}
