.container-footer {
  display: flex;

  background: #fff;
  border-top: 2px solid black;
  font-size: 16px;
  line-height: 20px;
  margin: auto;
  height: 140px;
}
footer {
  width: 100%;
  height: 150px;
}
.row {
  margin: 10px 200px 0 200px;
  color: black;
  height: 100%;
}
.row h2 {
  font-size: 24px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.row .social-links {
  margin-top: 20px;
}
.logoBox {
  width: 350px;
  height: 100%;
  overflow: hidden;
}
.menu {
  height: 100%;
}
.col {
  flex-basis: 25%;
  padding: 10px;
  height: 200px;
}
.footerlogo {
  cursor: pointer;
  overflow: hidden;
  height: 200px;
  margin-top: -29px;
}

.copy-right-sec {
  padding: 1.8rem;
  background: #aa8453;
  color: #fff;
  text-align: center;
}
.copy-right-sec a {
  color: #fcd462;
  font-weight: 500;
}
a {
  text-decoration: none;
}

.container h2 {
  font-weight: 300px;
  font-size: 18px;
}

.use-links {
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
  width: 400px;
}

.social-icons {
  display: flex;
  margin-top: 10px;
  width: 400px;
  justify-content: space-between;
}
.address-links {
  list-style: none;
  margin-top: 10px;
}

.address h2 {
  font-size: 24px;
  display: flex;
  align-items: center;
  margin: 10px;
}
.address li {
  margin-bottom: 15px;
}
