.lab-btn {
  width: 100px;
  height: 40px;
  background-color: orange;
  color: #fff;
  border-radius: 20px;
  display: flex;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  line-height: 40px;
  margin-left: 20px;
}
.lab-btn:hover {
  background-color: lawngreen;
  color: white;
}

.logo {
  width: 70px;
  cursor: pointer;
  display: flex;
  margin-left: 20px;
}
#text {
  display: flex;
  justify-content: center;
  align-items: center;
}
#text ul li {
  list-style: none;
  margin: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  flex-direction: column;
  color: black;
}

.link {
  text-decoration: none;
  color: black;
  background: none;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
  transition: 0.25s;
  &:hover,
  &:focus {
    border-color: var(--hover);
    color: #fff;
  }
}
.profileIcon {
  position: relative;
}
.search-login {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}
.link:hover,
link:focus {
  color: orange;
  width: 100px;
  height: 20px;
  border: 1px solid orange;
  border-radius: 20px;
  box-shadow: inset 0 0 0 2em var(--hover);
}

.box img {
  width: 200px;
}

.nav.openSearch .nav-links a {
  opacity: 0;
  pointer-events: none;
}
.nav .search-icon {
  color: #353842;
  font-size: 20px;
  cursor: pointer;
}

.nav .search-icon:hover {
  transform: scale(1.7);
  color: orange;
}

.input {
  height: 50px;
  width: 400px;
  border: none;
  outline: none;
  color: black;
  border-radius: 6px;
  background-color: transparent;
  padding: 0 50px 0 45px;
  position: relative;
  right: 9%;
  font-size: 16px;
  border: 1px solid gray;
}
.input:focus {
  border: 2px solid black;
}
header {
  width: 100%;
  height: 100px;
  position: sticky;
  background-color: #fff;
  top: 0;
  z-index: 123;
}
.nav {
  height: 100%;
  margin: 0 auto;
  background: #fff;
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  border-bottom: 2px solid black;
  white-space: nowrap;
}
.nav,
.nav .nav-links {
  align-items: center;
}

.profileImage {
  width: 50px;
  height: 40px;
  background-color: orange;
  color: #fff;
  border-radius: 20px;
  display: flex;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  line-height: 40px;
  margin-left: 20px;
  cursor: pointer;
  position: relative;
  align-items: center;
}

#mobile {
  display: none;
}
.Cart-plus {
  width: 150px;
  height: 30px;
  margin-right: -30px;
  color: orange;
}

/* responsive */
@media screen and (max-width: 900px) {
  #text {
    display: block;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    right: 0;
    top: 100px;
    width: 300px;
    height: 100vh;
    background: #fff;
    padding: 40px 0 0 10px;
    transition: 0.3s ease-in;
  }

  #text li {
    margin-bottom: 25px;
  }

  #mobile {
    display: block;
  }
  #mobile .mobileicon {
    cursor: pointer;
    font-size: 24px;
  }
}

.dropdown {
  position: absolute;
  top: 120px;
  right: 12px;
  width: 120px;
  padding: 10px 30px 10px 5px;
  margin-bottom: 10px;
  border: 1px solid gray;
  border-radius: 15px;
  background-color: #fff;
  color: red;
}
.dropdown li {
  margin-bottom: 20px;
  cursor: pointer;
}
.dropdown li:hover {
  text-decoration: underline;
}
.dropdown::before {
  content: '';
  position: absolute;
  top: -0.9rem;
  right: 1.8rem;
  width: 25px;
  height: 25px;
  transform: rotate(45deg);
  background-color: #fff;
  border-top: 1px solid gray;
  border-left: 1px solid gray;
}
