.login-wrapper {
  height: 1200px;
  background-image: url('https://i.pinimg.com/736x/17/c3/e2/17c3e29de8ea625ddac3831b093bb661.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}
.wrapper {
  position: relative;
  width: 420px;
  height: 450px;
  background: transparent;
  color: black;
  border-radius: 40px;
  display: flex;
  align-items: center;
  overflow: hidden;
  transition: height 0.2s ease;
  margin: auto;
  top: 200px;
  border: 2px solid white;
}
.wrapper.active {
  height: 520px;
}

.wrapper .form-box {
  width: 100%;
  padding: 40px;
}
.wrapper .form-box.register {
  position: absolute;
  transition: none;
  translate: 400px;
}
form h1 {
  font-size: 36px;
  text-align: center;
}
form .input-box {
  position: relative;
  width: 100%;
  height: 40px;
  margin: 10px 0;
}
.input-box input {
  width: 100%;
  height: 100%;
  background: #aa8453;
  border: none;
  outline: none;
  border: 4px solid rgba(255, 255, 255, 0.1);
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  padding: 20px 45px 20px 30px;
  &:hover {
    border-color: #fff;
  }

  &:focus {
    border-color: #fff;
    transition: top 150ms ease-out, left 150ms ease-out, font-size 200ms ease;
  }
}

.input-box input::placeholder {
  color: #fff;
}

.input-box .icon {
  position: absolute;
  right: 14px;
  top: 50%;
  translate: 0 -50%;
  font-size: 16px;
}
form .remember-forget {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin: 35px 0 10px;
}
.remember-forget label input {
  accent-color: #fff;
  margin-right: 4px;
}

.remember-forget a {
  color: #fff;
  text-decoration: none;
}

.remember-forget a:hover {
  text-decoration: underline;
}
form button {
  width: 100%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px (0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 700;
}

form .register-link {
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 15px;
}
.register-link a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  padding-inline: 10px;
}
.register-link a:hover {
  text-decoration: underline;
}

.register-link p {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.wrapper .form-box.login {
  transition: translate 0.18s ease;
  translate: 0;
}

.wrapper.active .form-box.login {
  transition: none;
  translate: -400px;
}

.wrapper.active .form-box.register {
  transition: translate 0.18s ease;
  translate: 0;
}

.addr input {
  background: transparent;
  border: 4px solid rgba(255, 255, 255, 0.1);
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  padding: 10px 45px 10px 10px;
  display: flex;
  justify-content: space-between;
}
.addr button {
  width: 50px;
}
.snslogin {
  margin: 10px 45px 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
}

.lgrb {
  font-size: 16px;
  border: 2px solid black;
  border-radius: 30px;
  cursor: pointer;
  border-color: black;
  background-color: black;
  color: white;
  width: 150px;
  height: 40px;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 900px) {
  .wrapper {
    margin: auto;
    width: 420px;
    height: 450px;
    background: transparent;
    color: black;
    border-radius: 40px;
    display: flex;
    align-items: center;
    overflow: hidden;
    transition: height 0.2s ease;
    border: 2px solid white;
  }
  .wrapper.active {
    height: 520px;
  }
}
