$main-color: #aa8453;
@mixin h2 {
  font-size: 36px;
  text-align: center;
  color: $main-color;
  padding-bottom: 10px;
  border-bottom: 1px solid $main-color;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.mainLab {
  width: 100%;
  margin: auto;
  h2 {
    @include h2();
  }
  h3 {
    font-size: 24px;
  }
  p {
    font-size: 16px;
  }
}
.mainCarousel {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  aspect-ratio: 12/5;
  overflow: hidden;
}

.artMonth {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding-top: 200px;
  overflow: hidden;
  transition: opacity 1s ease;
  transform-origin: center center;
  button {
    background-color: $main-color;
    border: none;
    width: 100%;
    height: 50px;
    border-radius: 3px;
    &:hover {
      color: #800020;
    }
  }
  .artistInfo2 {
    width: 100%;
    margin-top: 100px;
    display: flex;
    padding: 0 20px;
    background: linear-gradient(to right, #f6f6f6, #e9e9e9);
    box-shadow: 20px 0 20px 5px rgba(0, 0, 0, 0.3);
  }

  .picture {
    width: 100%;
    &:hover img {
      transform-origin: center center;
    }

    img {
      width: 100%;
      border: 5px solid $main-color;
    }
  }
  .artistComment {
    padding: 20px 20px 0 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h3 {
      background: linear-gradient(to right, #aa8453, #feb47b);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-align: center;
      margin: 20px 0;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    }
    p {
      line-height: 1.2em;
      font-size: 1.2em;
      @media screen and (max-width: 1000px) {
        font-size: 1em;
      }
    }
  }
  .artMonthList {
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to right, #f6f6f6, #e9e9e9);
    li {
      display: flex;
      align-items: center;
      width: 100%;
      aspect-ratio: 1/1;
      overflow: hidden;
      margin: 5px;
      img {
        width: 120%;
        transition: transform 0.3s ease;
      }
      img:hover {
        transform: scale(1.1);
      }
    }
  }
}

.newWrap {
  margin: 0 auto;
  margin-top: 200px;
  width: 100%;
  max-width: 1200px;
  opacity: 0;
  transition: opacity 3s ease;
  @media screen and (max-width: 720px) {
    margin-top: 100px;
  }
}
.newWrap.show {
  opacity: 1;
}
.newProduct {
  display: flex;
  margin-top: 100px;
  justify-content: center;
  width: 100%;
  padding: 0;
  @media screen and (max-width: 720px) {
    flex-wrap: wrap;
  }
  li {
    width: 100%;
    max-width: 220px;
    aspect-ratio: 2/3;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    position: relative;
    img {
      width: 150%;
      transition-duration: 0.5s;
    }
    &:hover {
      img {
        transform: scale(1.2);
      }
      p {
        opacity: 1;
        transform: translateY(-40px);
        transition-duration: 1s;
      }
      h4 {
        display: none;
      }
    }
    @media screen and (max-width: 557px) {
      max-width: 90%;
      aspect-ratio: 3/2;
    }

    p {
      position: absolute;
      color: white;
      top: 60%;
      left: 20%;
      opacity: 0;
      transition-duration: 1s;
    }
    h4 {
      position: absolute;
      color: white;
      top: 70%;
      left: 20%;
      transition-duration: 1s;
    }
  }
}
.sellWrap {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  padding: 200px 0 50px 0;
}
.sellbox {
  width: 100%;
  margin: 0 auto;
  display: flex;
  background: url('../img/isolated-2532037_1920.png');
  background-size: cover;
  justify-content: center;
  align-items: center;
  transition-duration: 0.5s;
  &:hover {
    background: url('../img/request.jpg');
    background-size: cover;
  }
  @media screen and (max-width: 720px) {
    flex-direction: column;
  }

  .logoSection {
    width: 50%;
    padding: 30px;
    img {
      width: 80%;
    }
  }
  .proposal {
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    p {
      color: white;
      margin-bottom: 20px;
      @media screen and (max-width: 720px) {
        color: black;
      }
    }
  }
}
.selBtn:hover .sellbox {
  width: 100%;
  margin: 0 auto;
  display: flex;
  background: url('../img/isolated-2532037_1920.png');
  background-size: cover;
  justify-content: center;
  align-items: center;
}
.sellBtn {
  width: 200px;
  height: 30px;
  line-height: 30px;
  margin: 0 auto;
  margin-bottom: 20px;
  text-align: center;
  background-color: $main-color;
  border-radius: 3px;
  cursor: pointer;
  &:hover {
    color: #800020;
  }
}

.sellBtn:hover + .sellbox {
  background: url('../img/ai-24-05-pc.jpg') no-repeat;
  background-size: cover;
}
@media screen and (max-width: 720px) {
  .artMonth {
    padding-top: 100px;
  }
  .artistInfo2 {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    .picture {
      height: 400px;
      overflow: hidden;
    }
  }
}
