.Mypage {
  font-family: 'Baskervville', 'Noto Serif KR', serif !important;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: 'Arial', sans-serif;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.Mypage h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.UserImg {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.UserImgProf {
  width: 100%;
  height: 100%;
}

.img-display-before,
.img-display-after {
  border-radius: 50%;
  cursor: pointer;
}

.img-display-after {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.Mypage table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.Mypage th,
td {
  padding: 10px;
  text-align: left;
}

.Mypage th {
  background-color: #f1f1f1;
  color: #333;
}

.Mypage .input-box {
  width: calc(100% - 20px);
  padding: 8px;
  margin: 0 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.Mypage input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 4px solid rgba(255, 255, 255, 0.1);
  border-radius: 40px;
  font-size: 16px;

  padding: 20px 45px 20px 30px;
  &:hover {
    border-color: #bd7777;
  }

  &:focus {
    border-color: #bd7777;
  }
}

.Mypage input::placeholder {
  color: #fff;
}

.img-display-after {
  height: 200px;
  width: 200px;
  border-radius: 100%;
  border: 1px solid white;
}

.img-display-before {
  height: 200px;
  width: 200px;
  border-radius: 100%;
}

.img-display-before:hover {
  background-color: grey;
}

.Mypage button {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
.Mypage button:hover {
  background-color: #45a049;
}

@media (max-width: 600px) {
  .Mypage {
    padding: 10px;
  }

  .input-box {
    width: calc(100% - 16px);
  }
}
