.searchLab {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  height: 2000px;
  background-color: gray;
}
.searchTab {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
}
