        *{margin:0;padding:0;}

        a{text-decoration: none;}
        li{list-style: none;}
        .wrap{overflow: hidden; font-family:'Noto Sans KR';
        word-spacing: 0.1em; letter-spacing: -1px;} 
        


        header{width:100%; height:100px; position:fixed; background-color: #f5f5f5; font-family: 'IBM Plex Sans KR';
            font-weight:500;
        display: flex; align-items: center; box-shadow: 0 0 2px 0 gray; z-index: 9999;}
        header h1{margin:10px 0 0 20px;}
        header h1 img{width:150px;}
        @media(max-width:1280px){
            header{display: none;}
            section video{width:1280px;}
        }

        nav{width:800px; margin:0 auto; flex-shrink: 0; overflow: hidden;}
        nav ul{display: flex;}
        .nav_top{padding:40px 30px; font-size: 1.2em;}
        .nav_top>a{color:#000; padding-left:40px;}
        .lang{width:100px; flex-shrink: 0; font-size:1.2em;}
        .lang li{float:left; padding:0 10px; margin-bottom:3px;}
        .lang li a{color:#868585;}
        .hamburger{margin:0 50px 0 0; cursor: pointer; filter:brightness(0)}
        .depth{position:absolute; width:360px; height:0px; display: flex; flex-direction: column;
            top:100px; overflow: hidden;}
            .depth li:hover{filter:brightness(70%)}
        .depth a{color:black; padding-left:20px;}
        .depth li{width:180px; height:60px; line-height:60px; background-color:rgba(247, 247, 247, 0.9);
            box-shadow: 1px 1px 2px 1px rgb(92, 92, 92); font-size:0.8em; }
        nav li:hover .depth{height:360px;}
        .depth2{position: absolute; width:180px; height:0; display: flex; flex-direction: column;
                left:180px; opacity:80%; overflow: hidden; }
        .depth li:hover .depth2{height:auto;}

        aside a{color:rgb(5, 5, 5);}
        .cs{border:1px solid rgb(206, 206, 206); border-radius: 100px; width:75px; height: 75px; text-align: center;
            box-sizing: border-box; padding-top: 15px; position: fixed; bottom:250px; right:30px; background-color: white;
            font-size: 0.8em; line-height: 20px;}
        .CJ_talk{border-radius: 100px; width:75px; height: 75px; text-align: center;
            box-sizing: border-box; padding-top: 20px; position: fixed; bottom:150px; right:30px; background-color: rgb(250, 163, 49);
            font-size: 0.8em; line-height: 20px; z-index: 100;}
        .CJ_talk img{width:30px;}
        .top_btn{border:0.1px solid rgb(206, 206, 206); border-radius: 100px; width:75px; height: 75px; text-align: center;
            box-sizing: border-box; padding-top: 15px; position: fixed; bottom:50px; right:30px; color:white;
            font-size: 0.8em; line-height: 20px; cursor: pointer; background-color: black; opacity: 40%;}

        .menu_nav{width:100%; height:0%; 
        z-index: 999999; position:fixed; overflow: hidden; top:0; display: flex; background-color: #fff; }
        .menu_nav h1 img{width:150px;}
        .menu_nav h1{position:absolute; top:0; left:20px;}

                .menu_aside{flex-basis: 30%; height:100%; background-color:#075d46;
                display: flex; align-items: center;}
                .menu_aside>div{padding:40px; color:white;}
                .menu_aside a{color:white;}
                .menu_aside h2{font-size: 4em; margin-bottom:30px;}
                .menu_X{ position: absolute; top:35px; right:45px; cursor: pointer;}
                .menu_X img{ width:25px;}
                .menu_nav_inner{
                        padding:100px;
                        margin-top: 50px;
                        display: grid;
                        grid-template-columns: repeat(5, 1fr);
                        grid-template-rows: repeat(2, 1fr);
                        gap: 40px;
                }
                .menu_nav_inner>div{width:150px;}
                .menu_nav_inner>div>a{color:#075d46; font-size: 1.3em;  font-family:'IBM Plex Sans KR'; font-weight: 100;}
                .menu_nav_inner>div:nth-of-type(1){grid-row: 1/3;}
                .menu_nav_inner>div:nth-of-type(2){grid-row: 1/3;}
                .menu_nav_inner>div:nth-of-type(3){grid-row: 1/3;}
                .menu_nav_inner>div:nth-of-type(4){grid-row: 1/3;}
                .menu_nav_inner>div:nth-of-type(5){grid-row: 1/2;}
                .menu_nav_inner>div:nth-of-type(6){grid-area: 2/5/3/5 ;}
                .menu_nav_inner div ul{padding-top:20px;}
                .menu_nav_inner div ul>a{color:black;}
                .menu_nav_inner div ul li{padding:5px;}
                .menu_nav_inner div ul li>a{color:gray;}
        
                
                
            
        

        video{width:100%; position:relative; }

        
        
        




        .business{width:1280px; margin:0 auto; padding:100px 0; position:relative;}
        .business h2{color:orange; font-size:1em; font-weight: 100;}
        .swip>h3{font-size: 4.0em;  font-weight:100;} 
        .swip_btn{display: flex; position:absolute;right:0; top:100px;}
        .swip_btn> div {border:1px solid rgb(202, 202, 202); padding:10px; margin-left:5px; color:gray; cursor: pointer;}
        .swip_btn> div:hover {background-color: #2a7c31; color:white;}
    
        


        .slide{transition:all 0.5s; width:1280px; height:445px;
            letter-spacing: -1px; word-spacing: 0.1em; overflow: hidden;}
        .slide a{color:white;}
        .slide li{display: flex;}
        .slide_left img{width:680px;}
        .slide_right{width:600px; background-color: rgb(240, 240, 240); color:#222222;
                padding:60px; box-sizing: border-box;}
        .slide_right h3{color: #075d46; font-size:1em; margin-bottom:20px;}
        .slide_right h4{color: #000; word-spacing: -1px; letter-spacing:-2px; font-size:2.8em; margin-bottom:120px; padding-bottom:20px; border-bottom:3px solid gray;}
        .btn{padding:5px 20px;  text-align: center; font-size: 1.2em; font-weight: 1000; 
        position: absolute; bottom:120px; background-color: rgb(43, 68, 36); border:1px solid rgb(26, 48, 26);}
        .btn:hover{margin-bottom:1px;  box-shadow: 2px 5px 10px 0 rgb(92, 92, 92);}
        





        .ESG{background-color: rgb(255, 249, 238); width:100%; margin:0 auto;}
        .ESG_box{width:1280px; margin:0 auto; padding:100px 0;}
        .ESG h2{color:orange;  font-size:1em;  font-weight: 100;}
        .ESG h3{font-size: 4em; font-weight: 100;}
        .ESG h4{font-size: 1em; transition-duration: 1s;}
        .ESG ul li h5{position:relative; width:700px; font-size:0.8em; left:60%; transition-duration: 1s;}
        
        .ESG ul li{
            color:#fff; font-size: 3em; width:1280px; height:300px; padding:80px; 
            box-sizing: border-box; cursor: pointer; margin-top:20px; font-family: 'Noto Sans KR';
            display: flex; align-items: center; overflow: hidden; transition-duration: 2s;
        }
        
        .ESG ul li:nth-of-type(1){background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgb(255, 255, 255,0)),url(img/wind-generator-g15572cebd_1920.jpg)no-repeat fixed;
        background-size: cover;}
        .ESG ul li:nth-of-type(2){background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgb(255, 255, 255,0)), url(img/philosophy_img_1_waifu2x_noise3_scale2x.png)no-repeat fixed;
        background-size: cover;}
        .ESG ul li:nth-of-type(3){background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgb(255, 255, 255,0)), url(img/shoes-gb2610cc94_1920.jpg)no-repeat fixed;
        background-size: cover;}
        .ESG ul li:nth-of-type(4){background:  linear-gradient(to right, rgba(0, 0, 0, 0.8), rgb(255, 255, 255,0)), url(img/marcin-jozwiak-8tKZFUjC99c-unsplash.jpg)no-repeat fixed;
        background-size: cover;}
        .ESG ul li:nth-of-type(5){background:  linear-gradient(to right, rgba(0, 0, 0, 0.8), rgb(255, 255, 255,0)),url(img/night-background-night-starry-sky-night-sky-with-stars_559531-8141.jpg) no-repeat fixed;
        background-size: cover; }
        .ESG ul li:hover {box-shadow: inset 1280px 1280px 1280px 1280px rgba(20, 20, 20, 0.7);}
        .ESG ul li:hover h4 {font-size: 0.6em;}
        

        .IR{background-color: #075d46; width:100%; padding:100px 0;  }
        .IR_box{width:1280px; margin:0 auto;}
        .IR_box h2{color: orange;  font-size:1em;  font-weight: 100;}
        .IR_box h3{font-size: 4.0em; font-weight: 100; color: white;}
        .IR_content{display: flex;  justify-content: space-between; 
            font-family: 'Noto Sans KR', sans-serif; font-weight: 500;}
        
        .IR_left{background-color: white; width:800px; height:320px; padding:50px; box-shadow: 0 1px 10px 0 rgb(44, 44, 44);}
        .IR_left h4{font-size:2em;}
        .IR_left span{color:green; font-size: 1.4rem;}
        
        .today{display: flex; align-items: center;}
        .price{font-size: 4.0em; margin-right:20px;}
        .trade{display: flex; width:900px; margin-top:30px; flex-wrap: wrap;}
        .trade li{width: 300px; display: flex; flex-direction: column; margin-top:20px;}
        
        .IR_right ul{flex-flow: column; align-items: center; }
        .IR_right ul li{display: flex; justify-content: center; align-items: center; background-color:white; box-shadow: 0 1px 20px 0 black;
            width:350px; height:120px; margin-bottom:30px; padding:10px; box-sizing: border-box;}
        .IR_right ul li span{padding:0 50px 0 10px;}
        .IR_right ul li:nth-of-type(1) i{
            width: 40px;
            height: 40px;
            background-image: url(img/icons.png);
            background-repeat: no-repeat;
            background-size: 300px auto;
            background-position: 0 -340px;
            display: block;
        }
        .IR_right ul li:nth-of-type(2) i{
            width: 40px;
            height: 40px;
            background-image: url(img/icons.png);
            background-repeat: no-repeat;
            background-size: 300px auto;
            background-position: -50px -340px;
            display: block;
        }
        .IR_right ul li:nth-of-type(3) i{
            width: 40px;
            height: 40px;
            background-image: url(img/icons.png);
            background-repeat: no-repeat;
            background-size: 300px auto;
            background-position: -100px -340px;
            display: block;
        }
        .PRESS{ width:1280px;height:800px; padding:100px 0; margin:0 auto;}
        .PRESS>h2{color: orange;  font-size:1em;  font-weight: 100;}
        .PRESS>h3{font-size: 4.0em; font-weight: 100;}
        .post{ display: flex; flex-flow:column;  margin-top:50px; }
        .post li{padding:30px 0; border-top:1px solid rgb(216, 216, 216); line-height:30px;}
        .post li>div{float:left; margin-right:20px; color:#075d46; font-size: 1.2em;}
        .post li>p{margin-left:60px;}



        .CS_center{background-color: rgb(212, 212, 212); }
        .CS_box{width:1280px; padding:100px 0; margin:0 auto;}
        .CS_box ul li i{
            margin-bottom:20px;
            margin:20px 0 20px 160px;
        }
        .business_center li:nth-of-type(1) i{
            width:60px;
            height:60px;
            display: block;
            background-image: url(img/icons.png);
            background-repeat: no-repeat;
            background-size: 300px auto;
            background-position: 0 -400px;
            
        }
        .business_center li:nth-of-type(2) i{
            width:60px;
            height:60px;
            display: block;
            background-image: url(img/icons.png);
            background-repeat: no-repeat;
            background-size: 300px auto;
            background-position: -60px -400px;
            margin-left:160px;
        }
        .business_center li:nth-of-type(3) i{
            width:60px;
            height:60px;
            display: block;
            background-image: url(img/icons.png);
            background-repeat: no-repeat;
            background-size: 300px auto;
            background-position: -120px -400px;
            margin-left:160px;
        }
        .business_center{margin-bottom:20px;}
        .direct_center li:nth-of-type(1) i{
            width:60px;
            height:60px;
            display: block;
            background-image: url(img/icons.png);
            background-repeat: no-repeat;
            background-size: 300px auto;
            background-position: -180px -400px;
            margin-left:160px;
        }
        .direct_center li:nth-of-type(2) i{
            width:60px;
            height:60px;
            display: block;
            background-image: url(img/icons.png);
            background-repeat: no-repeat;
            background-size: 300px auto;
            background-position: -240px -400px;
            margin-left:160px;
        }
        .direct_center li:nth-of-type(3) i{
            width:60px;
            height:60px;
            display: block;
            background-image: url(img/icons.png);
            background-repeat: no-repeat;
            background-size: 300px auto;
            background-position: 0px -460px;
            margin-left:160px;
        }
        .CS_box h2{color: orange;  font-size:1em;  font-weight: 100;}
        .CS_box h3{font-size: 4em; font-weight: 100; margin-bottom:30px;}
        .CS_box ul{display: flex; justify-content: space-between; margin-top:30px;  font-weight: 1000;}
        .CS_box ul li{background-color: white; width:380px; height:150px; overflow: hidden;
            box-shadow: 1px 1px 2px 0 rgb(136, 136, 136); text-align: center;
            box-sizing: border-box; color:#075d46; font-size: 1.2em; position:relative; background-color: rgb(240, 247, 232);}
        .CS_box ul li a{color:white;}
        .CS_box ul li:hover div{left:0;}
        .CS_box ul li div{width:380px; height:150px; background-color:rgb(0, 0, 0, 0.8);
        text-align: center; line-height: 150px; left:100%; top:0; position: absolute; transition: 0.3s;}



        
        
        
        
        
        
        .footer_main{width:1280px; height:400px; background-color: white; display: flex; margin:0 auto;}
        .footer_left{width:500px; padding-top:50px; color:rgb(207, 207, 207); font-size: 1.3em;}
        .footer_logo img{width:200px;}


        .footer_right{width:700px; padding-top:50px; display: flex; justify-content: space-between;}
        .footer_right ul{font-weight: bold; width:150px;}
        .footer_right ul li{margin-top:20px; width:200px;}
        .footer_right ul li a{color:rgb(194, 194, 194); font-size: 0.9em;}
        .company_info{ height: 50px; border-top:1px solid rgb(194, 194, 194);}
        .address{font-size: 0.9em; line-height:50px; color:rgb(194, 194, 194); width:500px; margin:0 auto;}