.resultCard {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0;

  li {
    width: 240px;
    overflow: hidden;
    @media screen and (max-width: 720px) {
      width: calc(100% - 20px);
    }
    &:hover {
      img {
        transform: scale(1.05);
      }
    }
  }
  img {
    width: 100%;
    border: 1px solid rgb(216, 216, 216);
    transition: transform 0.3s ease;
  }
  p {
    margin-bottom: 0;
  }
  h5 {
    font-weight: bold;
    font-size: 18px;
  }
  .price {
    color: #aa8453;
  }
  .artistName {
    color: #afaba6;
  }
}
