.resultCard {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  li {
    width: 200px;
    overflow: hidden;
    &:hover {
      img {
        transform: scale(1.05);
      }
    }
  }
  img {
    width: 100%;
    transition: transform 0.3s ease;
  }
  p {
    margin-bottom: 0;
  }
  h5 {
    font-weight: bold;
    font-size: 18px;
  }
  .price {
    color: #aa8453;
  }
  .artistName {
    color: #afaba6;
  }
}
